
$border-style: 1px solid #1DF1EA;

.table {
    border-collapse: collapse;

    th {
        background-color: #4CAF50;
        color: white;
    }
    table, th, td {
        border: 1px solid black;
    }

}